{
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"vueIndentScriptAndStyle": true,
	"printWidth": 120,
	"jsxBracketSameLine": true,
	"trailingComma": "es5",
	"semi": true,
	"arrowParens": "always"
}
