:root {
	font-family: 'SF Pro Display', 'Roboto', sans-serif;
	line-height: 1.3;
	font-weight: 400;
	font-size: 12px;

	color-scheme: light dark;
	color: $main_text-color_white;
	background-color: $main_background_dark-grey;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--v3-picker-bg: #2b2b2b !important;
}

body {
	min-width: 320px;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	border: none;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}

.v3-emoji-picker,
.v3-emoji-picker .v3-body .v3-body-inner .v3-group h5 {
	background-color: $emoji-picker_background_grey;
}
