:root {
	font-family: "SF Pro Display", "Roboto", sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 16px;


	color-scheme: light dark;
	color: $main_text-color_white;
	background-color: $main_background_dark-grey;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (max-width: 1440px) {
    font-size: 12px;
  }
  @media (max-width: 768px) {
    font-size: 8px;
  }
	
}



body {

	min-width: 320px;

}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}
