// ElementPropertyColor

$main_background_dark-grey: #17181a;
$main_background_grey: #202225;
$main_text-color_grey: #79858f;
$main_text-color_white: #dcdce2;
$message_border_grey: #25262a;
$message_background_violet: #444ef3;
$icon_fill_grey: #85909b;