@import '@/assets/styles/mixins';
@import '@/assets/styles/variables';

.ui-text {
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
}

.ui-text__input {
	border: 1px solid $main_text-color_grey;
	background: $main_background_dark-grey;
	padding: 14px 30px 14px 20px;
	border-radius: 6px;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: $main-text-color_grey;
	width: 100%;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	outline: none;
}

.ui-text__label {
	position: absolute;
	margin-left: 20px;
	transition: all 0.3s;
	font-size: 15px;
	line-height: 18px;
	color: $main_text-color_grey;
	pointer-events: none;
}

.ui-text__input:focus {
	border: 1px solid $message_background_violet;
}

.ui-text__input:focus ~ .ui-text__label {
	color: $message_background_violet;
}

.ui-text__input:focus ~ .ui-text__label,
.active ~ .ui-text__label {
	margin-top: -49px;
	padding: 0 6px;
	transform: scale(0.9);
	margin-left: calc(20px * 0.3);
	line-height: 14px;
	background: $main_background_dark-grey;
	height: 5px;
	display: flex;
	align-items: center;
	font-size: 12px;
}

.ui-text__password-button {
	position: absolute;
	right: 5px;
	@include myIconButton(13px);
}

.ui-text__password-button_crossout {
	&::after {
		content: '/';
		position: absolute;
		top: -2px;
		left: 4px;
		font-weight: bolder;
		font-size: 1.2rem;
		color: $main_text-color_grey;
	}
}
