@import '@/assets/styles/mixins';
@import '@/assets/styles/variables';

.user-block {
	@include myFlex(start);
	flex-direction: row;
	gap: 1rem;
	border-radius: 10px;
	line-height: 1.4rem;
}

.user-block__avatar {
	position: relative;
}

// .user-block__avatar-img {
// 	border-radius: 50%;
// 	width: 50px;
// 	height: 50px;
// 	flex-shrink: 0;
// }

.user-block__online-status {
	position: absolute;
	top: 2px;
	right: 2px;

	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: var(--brand-500);
	border: 1px solid var(--neutral-950);
}

.user-block__name {
	font-size: 1.4rem;
}

.user-block__login {
	color: var(--neutral-500);
	font-size: 1.1rem;
}
