@import '@/assets/styles/mixins';
@import '@/assets/styles/variables';

.message-item {
	font-size: 1.3rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: start;
	gap: 0.3rem;
	&_from-me {
		align-items: flex-end;
	}
}

.message-item__content {
	@include myFlex();
	align-items: flex-end;
	flex-direction: column;
	gap: 0.5rem;

	padding: 0.5rem;
	max-width: 60%;

	border: 1px solid $message_border_grey;
	border-radius: 6px;
	background: $main_background_dark-grey;
	
	& .message-item__date {
		color: $main_text-color_grey;
	}

	&_from-me {
		background: $message_background_violet;
		align-self: flex-end;
			& .message-item__date {
			color: $main_text-color_white;
			}
	}
}


.message-item__date {
	font-size: .9rem;
	padding: 0 .2rem;
}
