@import '@/assets/styles/mixins';
@import '@/assets/styles/variables';

.chat-item {
	@include myFlex(start);
	gap: 1rem;
	padding: 0.5rem;
	border-radius: 10px;
	width: 100%;
	font-size: 1.4rem;
	cursor: pointer;
}

.chat-item_active {
	background-color: var(--neutral-800);;
}

.chat-item__last-message {
	color: var(--neutral-500);
	font-size: 1.1rem;
}
