@import '@/assets/styles/mixins';
@import '@/assets/styles/variables';

.search-input {
	@include myTextInput(var(--neutral-100), var(--neutral-800));
	padding: 0.4rem 1rem;
	fill: var(--neutral-500);
	height: 40px;
	gap: 10px;
}

.search-input__icon {
	@include myIconButton(1.5rem);
}
