@import '@/assets/styles/mixins';
@import '@/assets/styles/variables';

.messages {
	display: flex;
	flex-direction: column;
	background-color: $main_background_grey;
	padding: 0.5rem 2rem 1.5rem;
	height: 100%;
}

.messages__header {
	@include myFlex();

	border-bottom: 1px solid $main_background_dark-grey;
	margin-bottom: 2rem;
	padding-bottom: 0.5rem;
}

.message__actions {
	@include myFlex();
	gap: 3rem;
}

.messages__action-button {
	@include myIconButton(20px);
}

.messages__content {
	@include myFlex();
	flex-direction: column;
	height: 100%;
}

.messages__list {
	margin-bottom: 1rem;
	flex: 1;
}

.messages__new-text {
	position: relative;
	bottom: 0;
}
