@import '@/assets/styles/mixins';
@import '@/assets/styles/variables';

.ui-button {
	border-radius: 8px;
	border: none;
	background: var(--brand-400);
	padding: 6px 28px;
	cursor: pointer;
	transition: .3s;
	position: relative;
	min-height: 48px;
	font-size: 2rem;	
	color: var(--neutral-100);

	&:hover {
		background: var(--brand-500);
	}

	&:active {
		color: var(--neutral-200);
		background: var(--brand-700);
	}

}